---
import Base from '../layouts/Base.astro';
---
<Base title="LOST">
  <div class="lost">
    <p>“Wide is the road that leads to destruction. This is one of those pages.”</p>
    <a class="btn" href="/">BACK TO THE NARROW</a>
  </div>
</Base>
