---
import Base from '../layouts/Base.astro';
import site from '../data/site.json';
---
<Base title="CART">
  <div class="cart-page">
    <h1>YOUR CART.</h1>
    <div data-cart-root data-checkout-endpoint={site.checkout.endpoint}></div>
  </div>
</Base>
